appName: Loambot
logLevel: WARN

MongoDB:
  DataBaseEnabled: False        # If set to false, Loambot will use VLC playlist files instead. 
                                # Use Libraries section of config to load in playlists
                                # TODO: Make database connection info configurable. 
                                # Currently have to go into DatabaseUtils.py to change connect info

Discord:
  BotToken: "" # See readme for information on how to get BotToken, under Setup
  BotPrefix: "!"
  OwnerID: ""  # Click on profile picture on Discord (bottom left corner) -> Click "Copy User ID"

VLC:
  Password: "pass"
  Host: "127.0.0.1"
  Port: 5000
  Shuffle: False        # When bot first launches, determines if playlist should be randomized at start

Libraries:
  DefaultPath: "INSERT PATH FOR PLAYLISTS HERE. USE TWO \\ FOR THE PATH. EX: C:\\Users\\Sandy\\Playlists"
  DefaultCsvName: "timestamp"       # Name of the csv file that gets generated/used for recording show progress
  # List each show, using the name of each VLC playlist (no extension)
  Shows:
    #- spongebob
    #- seinfeld
    #- freshprince